.accueil-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f9fcff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.actions {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.actions button {
    padding: 10px 20px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #1565c0;
}

.ajout-patients {
    margin-top: 30px;
    padding: 15px;
    border-top: 1px solid #ccc;
    text-align: center;
}

.ajout-patients h3 {
    margin-bottom: 10px;
    color: #333;
}

.ajout-patients button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    background-color: #1976d2;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ajout-patients button:hover {
    background-color: #135ba1;
}