<div class="accueil-container">
    <h2>Bienvenue dans le système de gestion USLD 🏥</h2>
    <p>Connecté en tant que <strong>{{ role }}</strong></p>

    <div class="actions">
        <button (click)="goTo('/patients/tous')">📋 Voir tous les patients</button>
        <button (click)="goTo('/patients/search')">🔍 Recherche globale des patients</button>
        <button (click)="goTo('/search')">🔍 Recherche patients USLD</button>
        <button *ngIf="isAdmin" (click)="goTo('/soignants')">👨‍⚕️ Gérer les soignants</button>
    </div>

    <div class="ajout-patients">
        <h3>➕ Ajouter un patient</h3>
        <button (click)="goTo('/usld/ajouter')">🏥 Patient USLD</button>
        <button (click)="goTo('/alzheimer/ajouter')">🧠 Patient Alzheimer</button>
        <button (click)="goTo('/patients/sanssoin/ajouter')">🚶‍♂️ Patient Sans Soin</button>
    </div>
</div>