<h2>Ajouter un patient sans soin</h2>

<form [formGroup]="patientForm" (ngSubmit)="onSubmit()" class="form-container">

    <div class="form-group">
        <label>Nom :</label>
        <input type="text" formControlName="nom" />
        <small class="error" *ngIf="patientForm.get('nom')?.touched && patientForm.get('nom')?.hasError('required')">
            Le nom est obligatoire.
        </small>
    </div>

    <div class="form-group">
        <label>Prénom :</label>
        <input type="text" formControlName="prenom" />
        <small class="error"
            *ngIf="patientForm.get('prenom')?.touched && patientForm.get('prenom')?.hasError('required')">
            Le prénom est obligatoire.
        </small>
    </div>

    <div class="form-group">
        <label>Date de naissance :</label>
        <input type="date" formControlName="dateNaissance" />
        <small class="error"
            *ngIf="patientForm.get('dateNaissance')?.touched && patientForm.get('dateNaissance')?.hasError('required')">
            La date de naissance est obligatoire.
        </small>
    </div>

    <div class="form-group">
        <label>Numéro de chambre :</label>
        <input type="number" formControlName="numeroChambre" />
        <small class="error"
            *ngIf="patientForm.get('numeroChambre')?.touched && patientForm.get('numeroChambre')?.hasError('required')">
            Le numéro de chambre est obligatoire.
        </small>
    </div>

    <div class="form-group">
        <label>Niveau d’autonomie :</label>
        <input type="text" formControlName="niveauAutonomie" />
        <small class="error"
            *ngIf="patientForm.get('niveauAutonomie')?.touched && patientForm.get('niveauAutonomie')?.hasError('required')">
            Le niveau d’autonomie est obligatoire.
        </small>
    </div>

    <div class="form-check">
        <label>
            <input type="checkbox" formControlName="toiletteAssistee" />
            Toilette assistée
        </label>
    </div>

    <div class="form-check">
        <label>
            <input type="checkbox" formControlName="aideHabillage" />
            Aide à l’habillage
        </label>
    </div>

    <div class="form-check">
        <label>
            <input type="checkbox" formControlName="aideRepas" />
            Aide au repas
        </label>
    </div>

    <button type="submit" class="submit-button">Valider</button>
</form>